.banner__imagen {
    background: url('/img/portada.png');
    height: 18rem;
    background-size: cover;
    background-position: center;
    padding-left: 10rem;
    padding-top: 5rem;
    padding-bottom: 0;
}